.profile__avatar-edit{
    position: absolute;
    top: 0;
    width: 121px;
    max-width: 121px;
    height: 121px;
    border-radius: 50%;
    background: url(../../../images/profile/__edit-button/profile__edit-button.svg) center no-repeat, rgba(0, 0, 0, 0.8);
    background-size: 26px;
    opacity: 0;
    cursor: pointer;
}
.profile__avatar-edit:hover{
    opacity: 1;
}