.header__logo{
    width: 142px;
    height: 33px;
    background-image: url(../../../images/header/__logo/header__logo.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 45px;
    margin-bottom: 41px;
}
@media screen and (min-width: 598px) and (max-width: 896px){
    .header__logo{
        margin-left: 27px;
    }
}
@media screen and (max-width: 597px){
    .header__logo{
        width: 104px;
        height: 24px;
        margin-top: 28px;
        margin-bottom: 32px;
        margin-left: 27px;
    }
}