.profile__subtitle{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    grid-area: subtitle;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}
@media screen and (max-width: 597px){
    .profile__subtitle{
        align-self: center;
        justify-self: center;
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }
}