.profile__add-button{
    margin-left: auto;
    display:inline-block;
    border: 2px solid #fff;
    width:150px;
    height:50px;
    border-radius: 2px;
    background: url(../../../images/profile/__add-button/profile__add-button.svg) center no-repeat;
    background-size: 22px;
    cursor: pointer;
    padding: 0;
}
.profile__add-button:hover{
    opacity: .6;
}
@media screen and (min-width: 598px) and (max-width: 896px){
    .profile__add-button{
        width:50px;
    }
}
@media screen and (max-width: 597px){
    .profile__add-button{
        width: 282px;
        height: 50px;
        margin: 0;
        align-self: center;
        justify-self: center;
        background-size: 16px;
    }
}